.upper_part {
    /* width: 1920px; */
    height: 1080px;
}

.rectangle_one {
    width: 1920px;
    height: 1080px;
    background-color: #020305;
}

.carusel {
    position: absolute;
    width: 1707px;
    height: 152px;
    top: 466px;
    left: 107px;
    display: flex;
    justify-content: space-between;
}

.upper_header {
    width: 1703px;
    height: 22px;
    position: absolute;
    top: 90px;
    left: 106px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper_header__img1 {
    width: 32px;
    height: 18px;
    margin-right: 10px;
}

.upper_header__img2 {
    width: 144px;
    height: 30px;
    margin-left: 15px;
}

.search {
    width: 17px;
    height: 17px;
}

.upper_right {
    width: 153px;
    height: 22px;
    display: flex;
    justify-content: space-around;
}

.person {
    width: 18px;
    height: 18px;
}

.upper_left {
    display: flex;
    align-items: center;
}

.carusel_footer {
    position: absolute;
    /* width: 100%; */
    /* height: 120%; */
    /* height: 1065px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 15px;
    top: 985px;
    left: 920px;
}

.logo_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

.logo_2 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.logo_3 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.rectangle_two {
    width: 1920px;
    height: 1116px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* width: 1500px; */
    width: 1441px;
    height: 600px;
    display: flex;
    /* column-gap: 120px; */
}

.devushka {
    width: 400px;
    height: 600px;
}

.foto_1,
.foto_2 {
    margin-right: 120px;
}

.costume {
    display: block;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.price {
    display: block;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

.zvezda {
    width: 39px;
    height: 39px;
    margin-top: 5px;
}

.text_1 {
    display: flex;
    justify-content: space-between;
}

.rectangle_three {
    width: 1920px;
    height: 1080px;
}

.comment {
    position: absolute;
    top: 3040px;
    left: 116px;
}

.fashion_title_1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400px;
    color: #ffffff;
}

.fashion_title_2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.carusel_2 {
    position: absolute;
    width: 1707px;
    height: 152px;
    top: 2650px;
    left: 107px;
    display: flex;
    justify-content: space-between;
}

.woman_in_a_coat > img {
    width: 810px;
    height: 1080px;
}

.posing_woman_card {
    display: flex;
    align-items: center;
}

.standing_woman {
    width: 400px;
    height: 600px;
}

.rectangle_four {
    display: flex;
    width: 1920px;
    height: 1080px;
}

.foto_1.dope {
    margin-right: 0px;
}

.card_center {
    display: flex;
    align-items: center;
    /* width: 40%; */
    width: 1107px;
    justify-content: center;
}

.rectangle_five {
    width: 1920px;
    height: 712px;
    background-color: #000000;
}

.upper {
    width: 100%;
    height: 75%;
    display: flex;
}

.one {
    width: 40%;
    height: 100%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.podpiska {
    width: 310px;
    height: 40px;
    border: 1px solid #ffffff;
}

.podpiska {
    background-color: #000000;
    font-size: 14px;
    color: #ffffff;
}

.podpiska_text {
    margin-bottom: 6px;
}

.two,
.three,
.four {
    width: 20%;
    height: 100%;
    color: #ffffff;
}

.pomosh {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 4px;
}

.oplata,
.dostavka,
.obmen,
.cards {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contacts {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-bottom: 6px;
    margin-top: 18px;
}

.connection,
.kontakty,
.nomer_telefona {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.three {
    display: flex;
    flex-direction: column;
    margin-top: 210px;
    /* justify-content: center; */
}

.ikonki {
    margin-top: 35px;
}

.telegram,
.VK,
.instagram {
    padding-right: 8px;
}

.information {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #ffffff;
}

.about,
.public_oferta,
.politica,
.cookies {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one_lower,
.two_lower,
.three_lower {
    width: 33%;
}

.anons {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.rights {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #777575;
}

.left_bar {
    margin-left: 120px;
    margin-top: 50px;
}

.lower {
    display: flex;
}

.two_lower {
    display: flex;
    justify-content: center;
}

.label_csg {
    width: 40px;
    margin-top: 60px;
    width: 110px;
}

.three_lower {
    display: flex;
    justify-content: flex-end;
}

.arrow {
    height: 34px;
    /* display: flex; */
    margin-right: 90px;
    margin-top: 45px;
}

.drop_down {
    width: 500px;
    height: 1068px;
    background-color: #ffffff;
    position: absolute;
}

.cross {
    /* position: relative;
    top: 92px;
    left: 77px; */
    /* position: relative; */
    /* margin-top: 92px;
    margin-left: 77px; */
    display: block;
}

.logo_cross {
    display: flex;
    margin-top: 92px;
    margin-left: 77px;
    flex-direction: column;
    /* align-items: center; */
}

.anons {
    margin-left: 20px;
}

.drop_down_menu {
    width: 175px;
    height: 400px;
}

.drop_down_menu > ul {
    list-style: none;
    padding-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 70px;
}

.drop_down_menu > ul > li {
    margin-top: 8px;
}

.new_year {
    font-weight: 700;
}

.first_row {
    display: flex;
    align-items: center;
}

.first_button {
    width: 355px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 65px;
}

.second_button {
    width: 355px;
    height: 50px;
    background-color: #b3b3b3;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.drop_down_logo {
    position: relative;
    left: 28px;
    top: 280px;
}

.drop_down_logo_1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.drop_down_logo_2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #777575;
}
